body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Trebuchet MS";
  /* background-color: red; */
  color: red;
}

h1 {
  color: white;
}

#buyPlea {
  display: flex;
  justify-content: center;
  background-color: navy;
  width: 100%
}

img {
  height: 200px;
  width: 200px;
}

#redBullStuff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
}

figure {
  width: 300px;
}

@media only screen and (max-width: 600px) {
  figcaption{
    display: none;
  }


}
