body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
  color: white;
}
#buyPlea {
  display: flex;
  justify-content: center;
  background-color: navy;
  width: 100%
}

img {
  height: 200px;
  width: 200px;
}
